.overview-details {
  position: relative;
  height: 100%;
  grid-area: details;
  display: grid;
  grid-template-areas:
    '. slogan      feature'
    '. description feature'
    '. description feature';
  gap: 1%;
  grid-template-columns: 9% 48.75%;
  grid-template-rows: 25% 37.5% 37.5%;
  font-size: calc(1.3vw + 1px);
}

.overview-slogan {
  position: relative;
  grid-area: slogan;
}

.overview-description {
  position: relative;
  grid-area: description;
}

.overview-feature-wrapper {
  position: relative;
  grid-area: feature;
  border-left: solid;
}

.overview-feature {}