/* Main image */
.overview-image-view {
  max-width: 1400px;
  width: 45vw;
  aspect-ratio: 7 / 6;
  position: relative;
}

.overview-img-main-default {
  transition: transform 0.4s ease-out;
  height: 100%;
  border: 2px solid black;
  width: 100%;
}

.overview-thumbnail-view-false {
  box-sizing: border-box;
  position: absolute;
  display: flex;
  flex-direction: column;
  z-index: 1;
  top: 2vw;
  left: 2vw;
  max-height: 60%;
  width: 3.75vw;
}

.overview-thumbnail-view-true {
  position: absolute;
  z-index: 1;
  margin: 1.25% 0% 0% 3%;
  left: 12%;
  height: calc(60% / 7 - 14px);
  width: 60%;
}

.overview-thumbnail-false {
  border: 1px solid black;
  width: 100%;
  aspect-ratio: 1 / 1;
  font-weight: 800;
  font-size: 1vw;
  margin-top: 0.5%;
  margin-bottom: 1%;
  padding: 0;
}

.overview-thumbnail-false div {
  background-color: rgba(49, 44, 44, 0.4);
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  text-align: center;
  text-justify: center;
  z-index: 2;
}

.overview-thumbnail-true {
  border: 1px solid black;
  width: calc(47.5% / 7);
  aspect-ratio: 1 / 1;
  border-radius: 100%;
  float: left;
  text-align: center;
  font-weight: 800;
  font-size: 1vw;
  margin-right: 2%;
}

.overview-thumbnail-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  background-color: white;
  width: 100%;
  aspect-ratio: 1 / 1;
}

.overview-thumbnail-button svg {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1em;
  width: 1.5em;
}

.overview-left-button {
  position: absolute;
  top: 72.5%;
  left: calc(10% + 1vw);
  font-size: 1.5vw;
  z-index: 1;
  border: 1px solid black;
  background-color: white;
}

.overview-left-button svg {
  height: 1em;
  width: 1em;
}

.overview-right-button {
  position: absolute;
  top: 72.5%;
  left: calc(40vw);
  font-size: 1.5vw;
  z-index: 1;
  border: 1px solid black;
  background-color: white;
}

.overview-right-button svg {
  height: 1em;
  width: 1em;
}

#zoom-box {
  position: absolute;
  border: 2px solid #3498db;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  background-repeat: no-repeat;
  display: none;
  pointer-events: none;
}