.overview-overview {
  height: 100%;
  width: 30vw;
  font-size: 1.5vw;
  display: flex;
  flex-direction: column;
  gap: 0.25vh;
}

.overview-reviews {
  text-wrap: nowrap;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.overview-category {
  justify-self: left;
  text-align: left;
  position: relative;
  font-size: 1.5em;
  text-wrap: nowrap;
}

.overview-title {
  justify-self: left;
  text-align: left;
  margin-top: 0;
  margin-bottom: 5%;
  font-size: 2em;
  text-wrap: nowrap;
}

.overview-price-container {
  text-wrap: nowrap;
}

.overview-price-true {
  color: red;
  text-decoration: line-through;
  font-size: 1.25em;
}

.overview-price-false {
  font-size: 1.25em;
}

.overview-sale-price {
  font-size: 1.25em;
}

.overview-selected-style {
  margin-top: 6%;
  text-overflow: clip;
  font-size: 1.25em;
}

.styles-view-wrapper {
  display: flex;
  flex-direction: row;
  padding-bottom: 6%;
}

.overview-styles-view {
  position: relative;
  z-index: 1;
  row-gap: 9%;
  width: 90%;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 45% 45%;
  overflow: hidden;
  aspect-ratio: 8 / 3;
}

.overview-styles-view-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.overview-styles-view-buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overview-styles-view-buttons svg {
  width: 1.5em;
  height: 1.5em;
  font-size: 1.5em;
}

.overview-style-thumbnail {
  border: 1px solid black;
  border-radius: 100%;
  width: 65%;
  padding-left: 5%;
  aspect-ratio: 1 / 1;
  font-size: 1.8vw;
  text-align: center;
  z-index: -1;
}

.share-facebook {
  border-style: solid;
  z-index: 999;
}

.share-x {

}

.share-pinterest {}
