/*------*
| Q & A |
*-------*/

.qa-container {
  display: flex;
  flex-direction: column;
  width: 78vw;
  min-width: 980px;
  max-width: 1400px;
  max-height: calc(100vh - 50px);
  margin: 3.75rem auto;
  padding: 0 6.25rem;
  color: var(--text-color);
}

/*-----------*
| Search Bar |
*------------*/

.qa-search-container {
  display: flex;
  position: relative;
  margin-bottom: 2.8rem;
  border-bottom: 1px solid black;
}

.qa-search-container input {
  width: 100%;
  display: flex;
  height: 2.1rem;
  font-size: 1rem;
  padding-left: 1.8rem;
  border: 0;
  outline: none;
  color: var(--text-color);
}

.search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 1.3rem;
  height: 1.3rem;
  stroke: var(--text-color);
}

/*----------*
| Questions |
*-----------*/

.question-list-container-expanded {
  flex: 1 1 auto;
  overflow-y: auto;
}

.question-list-container-expanded::-webkit-scrollbar {
  display: none;
}

.question-container {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  border-bottom: 1px solid #e5e7eb;
  padding: 1.5rem 0;
  box-sizing: border-box;
}

.question-container:first-child {
  padding-top: 0;
}

.question-header {
  display: flex;
  justify-content: space-between;
}

.answer-indicator,
.question-indicator {
  display: flex;
  gap: 0.5em;
}

.question-details-container {
  display: flex;
  gap: 1rem;
}

.qa-helpful-container {
  display: flex;
  align-items: center;
}

.qa-bold {
  font-weight: 600;
  font-size: 1.1rem;
}

/*--------*
| Answers |
*---------*/

.answer-list-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.answer-list-container-expanded {
  display: flex;
  flex-direction: column;
  max-height: 50vh;
  overflow-y: auto;
  gap: 2rem;
}

.answer-list-container-expanded::-webkit-scrollbar {
  display: none;
}

.answer-container {
  display: flex;
  flex-direction: column;
}

.answer-container p {
  margin: 0 0 0.2rem;
}

.photos-container {
  display: flex;
  gap: 0.5em;
}

.photos-container img {
  height: 5.5em;
  width: 7em;
}

.answer-details-container {
  display: flex;
  align-items: center;
  gap: 1.5em;
  font-size: 0.9rem;
  margin-top: 0.1rem;
}

/*----------------*
| Icons & Buttons |
*-----------------*/

.report-answer,
.qa-helpful {
  width: 1.2rem;
  height: 1.2rem;
  stroke: var(--text-color);
}

.qa-fill {
  fill: var(--text-color);
}

.report-answer:hover,
.qa-helpful:hover {
  stroke: #a19992;
}

.qa-icon-button {
  padding: 0.2rem 0.2rem 0;
}

.qa-add-answer-button svg {
  width: 1.4rem;
  height: 1.4rem;
}

.qa-add-answer-button {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-weight: 600;
}

.qa-add-answer-button:hover,
.qa-add-answer-button svg:hover,
.load-more-answers:hover,
.collapse-answers:hover,
.qa-close-modal svg:hover {
  color: #a19992;
  fill: #a19992;
}

button {
  cursor: pointer;
}

.load-more-answers,
.collapse-answers {
  width: fit-content;
  font-weight: 600;
  color: var(--text-color);
  font-size: 0.9rem;
  padding: 0;
}

.qa-button-container {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-top: 1.5rem;
}

.qa-button-container button {
  border: 2.5px solid var(--text-color);
  border-radius: 0.3rem;
  color: var(--text-color);
  font-size: 1rem;
  font-weight: 600;
  padding: 1rem;
}

.qa-button-container button:hover {
  color: white;
  background-color: var(--text-color);
}

/*------*
| Modal |
*-------*/

.qa-modal-background {
  background: rgba(0, 0, 0, .7);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
}

.qa-modal-container {
  width: 50vw;
  max-width: 500px;
  background-color: white;
  padding: 2em;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

/*-----*
| Form |
*------*/

.qa-form-heading h2 {
  margin: 0;
}

.qa-form-heading h4 {
  display: flex;
  justify-content: center;
  margin: 0.2rem 0 1rem;
}

.qa-form-container form {
  display: flex;
  flex-direction: column;
}

.qa-required-input {
  color: red;
}

.qa-input {
  height: 1.8rem;
}

.qa-textbox {
  height: 3.8rem;
}

.qa-form-label {
  margin-bottom: 0;
  font-size: 0.8rem;
}

.qa-label-description {
  margin-top: 0.1rem;
  font-size: 0.8rem;
}

.qa-form-error {
  color: red;
  font-size: 0.8rem;
  margin-top: 1rem;
}

/*-------------*
| Modal Button |
*--------------*/

.qa-close-modal svg {
  width: 1.5rem;
  height: 1.5rem;
}

.qa-close-modal {
  margin-left: auto;
}

.qa-submit-form {
  display: flex;
  justify-content: center;
}

.qa-submit-form button {
  background-color: var(--text-color);
  border-radius: 0.2rem;
  color: white;
  width: 100%;
  padding: 0.5rem 0;
  margin: 1.5rem 0 0;
}

.qa-submit-form button:hover {
  opacity: 0.8;
}
