.answer-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.7em;
}
.answer-details-container {
  display: flex;
  gap: 1em;
  font-size: 0.9em;
}
.helpful-container {
  display: flex;
  gap: 0.6em;
}
.yes,
.report,
.load-more-answers,
.collapse-answers {
  cursor: pointer;
}
.answer-list-container-expanded {
  height: 50vh;
  overflow-y: auto;
}
.answer-photos {
  height: 5.8em;
  width: 7em;
}
.photos-container {
  display: flex;
  gap: 0.5em;
}
.load-more-answers,
.collapse-answers {
  font-size: 0.8em;
  font-weight: bold;
}