.answer-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
}
.answer-details-container {
  display: flex;
  gap: 1em;
  font-size: 0.9em;
}
.qa-helpful-container {
  display: flex;
  gap: 0.6em;
}
.answer {
  margin-top: 0;
}
.yes,
.report,
.load-more-answers,
.collapse-answers,
.add-answer,
.qa-close-modal,
button {
  cursor: pointer;
}
.answer-list-container {
  margin-top: 0;
}
.answer-list-container-expanded {
  max-height: 50vh;
  width: 100vw;
  overflow-y: auto;
}
.answer-photos {
  height: 5.8em;
  width: 7em;
}
.photos-container {
  display: flex;
  gap: 0.5em;
}
.load-more-answers,
.collapse-answers {
  font-size: 0.8em;
  font-weight: bold;
}
.question-container {
  display: flex;
  flex-direction: column;
  gap: 1.4em;
  /* margin-bottom: 2.5em; */
}
.question-header {
  display: flex;
  justify-content: space-between;
}
.answer-indicator,
.question-indicator {
  display: flex;
  gap: 0.5em;
}
.qa-button-container {
  display: flex;
  gap: 1em;
  margin-top: 1em;
}
.qa-container {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  max-width: 1920px;
}
.question-list-container-expanded {
  flex: 1 1 auto;
  overflow-y: auto;
}
.qa-search-container {
  display: flex;
  margin-bottom: 1em;
}
.qa-search-container > input {
  width: 100vw;
  height: 4vh;
}
.qa-modal-background {
  background: rgba(100, 100, 100, .6);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 15;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
}
.qa-modal-container {
  width: 60vw;
  max-width: 600px;
  background-color: white;
  padding: 2em;
  margin: 0 auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}
.qa-close-modal {
  margin-left: auto;
}
.qa-form-container {
  display: flex;
  flex-direction: column;
}
.qa-required-input {
  color: red;
}