.review-list-container {
  max-height: 70vh;
  overflow-y: auto;
}

.ratings-reviews-title {
  height: 2em;
}

.review-list-header {
  font-size: 1.2rem;
}

.review-sort-options {
  border: none;
  font-family: inherit;
  font-size: inherit;
  margin-left: .5em;
  cursor: pointer;
}

.review-sort-options > option {
  padding: 0;
}

.review-sort-options:focus {
  outline: none;
}

.review-list-button-wrapper {
  display: flex;
  gap: 1em;
}

.review-list-button-wrapper > * {
  padding: 1em;
  border: 1px solid black;
  cursor: pointer;
  font-weight: bold;
}

.review-wrapper {
  border-bottom: 1px solid black;
  margin-bottom: 1em;
}

.review-header {
  display: flex;
  flex-direction: row;
}

.review-summary {
  font-weight: bold;
  margin: 1em 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.review-body {
  word-wrap: break-word;
  word-break: break-all;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.review-response {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
}

.helpfulness-wrapper {
  margin: 1em 0;
}

.helpfulness-wrapper > span {
  cursor: pointer;
  text-decoration: underline;
}

.helpful-review {
  margin-left: 1.5em;
}

.show-more-button {
  cursor: pointer;
  width: fit-content;
}

.show-more-button:hover {
  animation: bounce .5s linear infinite;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}