/*-----------------*
| Ratings & Review |
*------------------*/

.ratings-reviews-wrapper {
  max-width: 1920px;
  margin: 0 auto;
}

.ratings-reviews-title {
  height: 2em;
  margin-bottom: 0;
  font-family: var(--header-font);
  font-size: 2rem;
}

.ratings-reviews-container  {
  display: flex;
  flex-direction: row;
  gap: 2em;
  padding: 1em;
  position: relative;
}

/*-------------*
| Reviews List |
*--------------*/

.review-list-header {
  font-size: 1.2rem;
  font-family: var(--header-font);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 1em;
}

.review-list-header > input {
  margin-left: auto;
}

.review-list-container {
  width: 70vw;
  max-width: 1400px;
}

.review-list-wrapper::-webkit-scrollbar {
  display: none;
}

.review-list-wrapper {
  overflow-y: auto;
  max-height: 50vh;
}

.review-sort-options {
  border: none;
  font-family: inherit;
  font-size: inherit;
  margin-left: .5em;
  cursor: pointer;
}

.review-sort-options > option {
  padding: 0;
}

.review-sort-options:focus {
  outline: none;
}

/*--------------------*
| Review List Buttons |
*---------------------*/

.review-button-wrapper {
  display: flex;
  position: relative;
}

.back-to-top {
  z-index: 6;
  cursor: pointer;
  margin: 0 auto;
  animation: bounce .5s linear infinite;
  transform: scale(1.1);
  border: none;
  background-color: inherit;
}

.back-to-top:hover {
  animation: none;
  transform: scale(1.4);
}

.add-review-button {
  margin: 1em 0;
  padding: .8em;
  border: 1px solid black;
  position: absolute;
}

.add-review-button > button {
  display: flex;
  align-items: center;
  font-weight: bold;
}

.add-review-button svg {
  margin-left: .5em;
}

/*-------------*
| Review Items |
*--------------*/

.review-wrapper {
  border-bottom: 1px solid black;
  margin-bottom: 1em;
  width: 100%;
}

.review-header {
  display: flex;
  flex-direction: row;
}

.review-summary {
  display: block;
  width: inherit;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: var(--header-font);
}

.review-body {
  word-wrap: break-word;
  word-break: break-all;
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
}

.review-response {
  padding: 1.5em;
  display: flex;
  flex-direction: column;
}

.helpfulness-wrapper {
  margin: 1em 0;
}

.helpfulness-wrapper > span {
  cursor: pointer;
  text-decoration: underline;
}

.helpful-review {
  margin: 0 0 0 1em;
  padding: 0;
}

.show-more-button {
  display: block;
  cursor: pointer;
  width: fit-content;
  font-style: italic;
  padding: 2px;
}

.show-more-button:hover {
  animation: bounce .5s linear infinite;
}

/*----------------*
| Add Review Form |
*-----------------*/

.add-review-container {
  width: 70vw;
  max-width: 800px;
  background: white;
  padding: 2em;
  box-sizing: border-box;
  position: relative;
}

.add-review-container p {
  font-weight: bold;
  margin: 0;
  padding: 0;
}

.add-review-container sub {
  font-size: .5em;
}

.add-review-header {
  display: flex;
  align-items: center;
  position: relative;
}

.add-review-header > h1 {
  padding: 0;
  margin: 0;
}

.add-review-close-button {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background-color: inherit;
}

.add-review-close-button:hover {
  transform: scale(1.1);
}

.add-review-form {
  display: flex;
  flex-direction: column;
  gap: .3em;
}

textarea {
  resize: none;
}

.input-wrapper-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.input-wrapper-row > input {
  margin: 0 .5em;
}

.product-input-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto .5rem;
  border-bottom: 1px solid black;
  padding-bottom: .5em;
}

.product-input-wrapper > label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  min-width: 120px;
  width: 20%;
  white-space: nowrap;
  font-size: .8em;
  margin: .5em 0;
}

.submit-review-button {
  border: 1px solid black;
  padding: .5em;
  max-width: 20%;
  margin: 0 auto;
}

/*-----------------------*
| Add Review Image Input |
*------------------------*/

input[type='file'] {
  margin-bottom: 1em;
}

.user-image-wrapper {
  display: flex;
  gap: 1em;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin-bottom: 1em;
}

.user-image-wrapper > img {
  height: auto;
  max-width: 20%;
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
}

/*-----------------*
| Rating Breakdown |
*------------------*/

.breakdown-wrapper {
  width: 30vw;
  max-width: 600px;
}

.average-rating-breakdown {
  display: flex;
  flex-direction: row;
  font-weight: bold;
  line-height: .9;
  font-size: 1em;
  margin: .5em 0;
}

.average-rating-breakdown > span {
  font-size: 3em;
  margin-right: 15px;
}

.rating-list-container {
  width: 100%;
  margin-bottom: 1em;
}

.bar-rating {
  display: flex;
  flex-direction: row;
  width: 100%;
  cursor: pointer;
}

.bar-rating > button {
  white-space: nowrap;
  text-decoration: underline;
}

/*---------------*
| Product Rating |
*----------------*/

.product-rating-wrapper {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.product-rating-title {
  font-family: var(--header-font);
  margin-block-end: .2em;
  margin-block-start: 1.5em;
}

.product-rating-description {
  display: flex;
  justify-content: space-between;
}

.product-rating-description > p {
  margin: 0;
  font-size: .8em;
}

.body-subtext {
  margin-left: auto;
  margin-right: .5em;
  font-size: .5em;
}

/*--------------*
| Error Message |
*---------------*/

.error-message {
  font-size: .5em;
  color: red;
  width: 50%;
  margin: .5em auto 0;
}


/*-----------*
| Animations |
*------------*/

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(0px);
  }
}