.comparison-container {
  border: 1px solid;
  background-color: white;
  padding: 1em;
}

.left-header {
  text-align: left;
}

.right-header {
  text-align: right;
}

.feature {
  text-align: center;
}

.value {
  width: 2em;
}

.close-button {
  cursor: pointer;
}