.star-rating-wrapper {
  width: 5em;
  position: relative;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  font-smoothing: subpixel-antialiased;
  -webkit-font-smoothing: subpixel-antialiased;
}

.active-stars {
  position: absolute;
  z-index: 10;
  overflow: hidden;
  display: flex;
}

.inactive-stars {
  width: 100%;
  display: flex;
  color: gray;
  position: absolute;
}

.stars {
  width: 1em;
}