.star-rating-wrapper {
  width: 5em;
  height: 1em;
  position: relative;
  display: block;
}

.active-stars {
  position: absolute;
  left: 0;
  z-index: 10;
  overflow: hidden;
  display: flex;
}

.inactive-stars {
  width: 100%;
  display: flex;
  left: 0;
  color: gray;
  position: absolute;
}

.stars {
  width: 1em;
  height: 1em;
}