:root {
  --primary-color: black;
  --secondary-color: gold;
  --tertiary-color: rgb(112, 205, 236);
}

.overview {
  box-sizing: border-box;
  position: relative;
  display: grid;
  grid-template-areas:
    'imgMain imgMain imgMain imgMain imgMain imgMain overview overview overview overview overview'
    'imgMain imgMain imgMain imgMain imgMain imgMain overview overview overview overview overview'
    'imgMain imgMain imgMain imgMain imgMain imgMain overview overview overview overview overview'
    'imgMain imgMain imgMain imgMain imgMain imgMain overview overview overview overview overview'
    'imgMain imgMain imgMain imgMain imgMain imgMain overview overview overview overview overview'
    'details details details details details details details  details  details  details  details'
    'details details details details details details details  details  details  details  details';
  border-style: solid;
}

/*
 * ================
 *    IMAGE VIEW
 * ================
 */

/* Entire thing */
.overview-image-view {
  box-sizing: border-box;
  grid-area: imgMain;
  display: grid;
  margin-top: 4em;
  height: 30em;
  width: 30em;
  grid-template-areas:
  /*          1       2       3       4       5       6       7      */
  /*01*/  '   thumbnl mainImg mainImg mainImg mainImg mainImg mainImg'
  /*02*/  '   thumbnl mainImg mainImg mainImg mainImg mainImg mainImg'
  /*03*/  '   thumbnl mainImg mainImg mainImg mainImg mainImg mainImg'
  /*04*/  '   thumbnl mainImg mainImg mainImg mainImg mainImg mainImg'
  /*05*/  '   thumbnl mainImg mainImg mainImg mainImg mainImg mainImg'
  /*06*/  '   thumbnl mainImg mainImg mainImg mainImg mainImg mainImg'
  /*07*/  '   thumbnl mainImg mainImg mainImg mainImg mainImg mainImg'
  /*08*/  '   thumbnl mainImg mainImg mainImg mainImg mainImg mainImg'
  /*09*/  '   thumbnl mainImg mainImg mainImg mainImg mainImg mainImg'
  /*10*/  '   thumbnl mainImg mainImg mainImg mainImg mainImg mainImg'
}

/* Main image in default view */
.overview-img-main-default {
  box-sizing: border-box;
  grid-area: mainImg;
  position: relative;
  object-fit: fill;
  min-height: 25em;
  min-width: 25em;
  max-height: 25em;
  max-width: 25em;
}

/* Main image in expanded view */
.overview-img-main-expanded {
  box-sizing: border-box;
  grid-area: mainImg;
}

.overview-thumbnail-view {
  box-sizing: border-box;
  position: relative;
  z-index: 1;
  grid-area: thumbnl;
  display: grid;
  left: 6em;
  height: 25em;
  width: 5.5em;
  gap: 1.25em;
  grid-template: repeat(7, 1fr) / repeat(1, 1fr);
  overflow-y: scroll;
}

.overview-thumbnail {
  box-sizing: border-box;
  border-style: solid;
  object-fit: fill;
  height: 4em;
  width: 4em;
}

/*
 * ================
 *      INFO
 * ================
 */

 .overview-overview {
  box-sizing: border-box;
  grid-area: overview;
  position: relative;
  display: grid;
  margin-top: 4em;
  width: 25em;
  height: 25em;
  grid-template-areas:
    '. . . . .'
    'reviews . . . .'
    'categor categor . . .'
    'title   title   . . .'
    'price   .       . . .'
    'selectStyle selectStyle . . .'
    'AddToCart AddToCart AddToCart . .'
    'AddToCart AddToCart AddToCart . .'
    'butttons buttons . . .'
}

.overview-reviews {
  box-sizing: border-box;
  grid-area: reviews;
  display: grid;
  gap: 1em;
  grid-template: repeat(1, 1fr) / repeat(2, 1fr);
}

.overview-category {
  box-sizing: border-box;
  grid-area: categor;
  justify-self: left;
  text-align: left;
  position: relative;
  max-height: 2em;
  font-size: 1.5em;
  max-width: 20em;
  min-width: 20em;
}

.overview-title {
  box-sizing: border-box;
  grid-area: title;
  justify-self: left;
  text-align: left;
  grid-area: title;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 2em;
  max-width: 20em;
  min-width: 20em;
}

.overview-styles-view {
  box-sizing: border-box;
  position: relative;
  border-style: solid;
  border-color: var(--tertiary-color);
  background-color: var(--tertiary-color);
  z-index: 1;
  grid-area: selectStyle;
  display: grid;
  gap: 0.5em;
  grid-template: repeat(2, 1fr) / repeat(4, 1fr);
  width: 12.5em;
}

.overview-style-thumbnail {
  box-sizing: border-box;
  border-style: solid;
  object-fit: fill;
  border-radius: 2.5em;
  width: 2.5em;
  height: 2.5em;
}

.overview-price-container {
  box-sizing: border-box;
  grid-area: price;
}

.overview-selected-style {
  box-sizing: border-box;
  grid-area: selectedStyle;
}

.overview-price {
  box-sizing: border-box;
}

.overview-price-onSale-true {
  box-sizing: border-box;
}

.overview-sale-price {
  box-sizing: border-box;
}

#overview-cart-form {
  box-sizing: border-box;
  grid-area: AddToCart;
}

.overview-size-dropdown {
  box-sizing: border-box;
  inline-size: 4em;
}

.overview-quantity-dropdown {
  box-sizing: border-box;
  inline-size: 4em;
}

.overview-share-buttons {
  box-sizing: border-box;
  grid-area: buttons;
}

.share-facebook {
  box-sizing: border-box;
}

.share-x {
  box-sizing: border-box;
}

.share-pinterest {
  box-sizing: border-box;
}

/*
 * ================
 *    DETAILS
 * ================
 */

 .overview-details {
  box-sizing: border-box;
  grid-area: details;
  position: relative;
  display: grid;
  min-height: 10em;
  max-height: 10em;
  grid-template-areas:
    'slogan . . .'
    'description description feature feature'
    'description description feature feature'
}

.overview-slogan {
  box-sizing: border-box;
  grid-area: slogan;
  margin-block-start: 2em;
  margin-block-end: 0em;
}

.overview-description {
  box-sizing: border-box;
  grid-area: description;
  min-height: 3em;
  max-height: 3em;
  min-width: 25em;
  max-width: 25em;
}

.overview-feature-wrapper {
  box-sizing: border-box;
  grid-area: feature;
}

.overview-feature {
  box-sizing: border-box;
}
