.overview {
  position: relative;
  height: 100%;
  border-style: solid;
  padding-top: 2.5%;
}

/*
 * ================
 *    IMAGE VIEW
 * ================
 */

/* Entire thing */
.overview-image-view {
  width: 50%;
  aspect-ratio: 7 / 6;
}

/* Main image in default view */
.overview-img-main-default {
  position: absolute;
  left: 10%;
  width: inherit;
  aspect-ratio: 7 / 6;
}

/* Main image in expanded view */
.overview-img-main-expanded {
}

.overview-thumbnail-view {
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  margin: 1.25% 0% 0% 3%;
  left: 10%;
  height: 50%;
  width: 3.75%;
}

div.overview-thumbnail {
  border-style: solid;
  width: 100%;
  aspect-ratio: 1 / 1;
  text-align: center;
  font-weight: 800;
  font-size: 2.5vw;
  margin-top: 0.5%;
  margin-bottom: 1%;
}



.overview-thumbnail-button {
  height: 10%;
}

.overview-left-button {
  position: absolute;
  top: calc(77.5% - 5vh);
  left: 15.5%;
  font-size: 1.5vw;
  z-index: 1;
}

.overview-right-button {
  position: absolute;
  top: calc(77.5% - 5vh);
  left: 52.5%;
  font-size: 1.5vw;
  z-index: 1;
}

/*
 * ================
 *      INFO
 * ================
 */

 .overview-overview {
  grid-area: overview;
  position: absolute;
  display: grid;
  top: 5vh;
  left: 65%;
  width: 30%;
  aspect-ratio: 7 / 8;
  grid-template-areas:
    'reviews'
    'categor'
    'title'
    'price'
    'selectStyle'
    'AddToCart'
    'butttons';
  grid-auto-rows: 7% 7% 12% 14% 40% 20% 7%;
  grid-auto-columns: 80%;
}

.overview-reviews {
  grid-area: reviews;
  display: grid;
  text-wrap: nowrap;
  grid-template: repeat(1, 1fr) / repeat(2, 1fr);
}

.overview-category {
  grid-area: categor;
  justify-self: left;
  text-align: left;
  position: relative;
  font-size: 1.5em;
  text-wrap: nowrap;
}

.overview-title {
  grid-area: title;
  justify-self: left;
  text-align: left;
  margin-top: 0;
  margin-bottom: 5%;
  font-size: 2em;
  text-wrap: nowrap;
}

.overview-price-container {
  position: relative;
  grid-area: price;
  text-wrap: nowrap;
}

.overview-price-true {
  color: red;
  text-decoration: line-through;
  font-size: 1.25em;
}

.overview-price-false {
  font-size: 1.25em;
}

.overview-sale-price {
  font-size: 1.25em;
}

.overview-selected-style {
  grid-area: selectedStyle;
  margin-top: 6%;
  margin-bottom: 6%;
  text-overflow: clip;
  font-size: 1.25em;
}

.overview-styles-view {
  position: relative;
  z-index: 1;
  grid-area: selectStyle;
  row-gap: 2vh;
  padding-top: 2vh;
  padding-bottom: 7.5%;
  width: 35vw;
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  overflow-y: auto;
  aspect-ratio: 8 / 2;
}

.overview-style-thumbnail {
  border-style: solid;
  border-radius: 100%;
  width: 60%;
  padding-left: 5%;
  aspect-ratio: 1 / 1;
  font-size: 1.8vw;
  text-align: center;
}

#overview-cart-form {
  grid-area: AddToCart;
  aspect-ratio: 4 / 2;
  z-index: 1;
}

.overview-size-dropdown {
  inline-size: 60%;
  margin-right: 5%;
  font-size: 2vw;
}

.overview-quantity-dropdown {
  inline-size: 30%;
  font-size: 2vw;
}

.overview-share-buttons {
  grid-area: buttons;
  justify-content: left;
}

.overview-cart-submit {
  margin-top: 5%;
  inline-size: 70%;
  font-size: 2vw;
  min-width: 4vw;
}

.share-facebook {
}

.share-x {
}

.share-pinterest {
}

/*
 * ================
 *    DETAILS
 * ================
 */

 .overview-details {
  position: relative;
  height: 100%;
  grid-area: details;
  display: grid;
  grid-template-areas:
    '. slogan      feature'
    '. description feature'
    '. description feature';
  gap: 1%;
  grid-template-columns: 9% 51.25%;
}

.overview-slogan {
  position: relative;
  grid-area: slogan;
}

.overview-description {
  position: relative;
  grid-area: description;
}

.overview-feature-wrapper {
  position: relative;
  grid-area: feature;
  justify-content: left;
  border-left: solid;
}

.overview-feature {
}
