@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&family=Rubik:wght@400;700&family=Vina+Sans&display=swap');

:root {
  --logo-font: 'Vina Sans', sans-serif;
  --header-font: 'Rubik', sans-serif;
  --text-font: 'Roboto', sans-serif;

  --text-color: rgb(98, 85, 74);
  --button-color: rgb(243, 238, 229);
  --inactive-star-color: rgb(229, 229, 229);
  --background-color: rgb(255, 255, 255);
  --inactive-bar-color: rgb(224, 221, 219);
}

html, body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
  display:flex;
  justify-content: center;
}

* {
  font-family: var(--text-font);
}

body {
  margin: 0;
  padding: 0;
  max-width: 1920px;
}

button {
  border: none;
  background-color: inherit;
  font-size: inherit;
}

.nav {
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: .2em;
  background: linear-gradient(to right, #ffffff, #f0f0f0);
  box-shadow: 0px 2px 2px 0px rgba(130,130,130,0.75);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(130,130,130,0.75);
  -moz-box-shadow: 0px 2px 2px 0px rgba(130,130,130,0.75);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 50;
}

.nav-logo {
  font-family: var(--logo-font);
  font-size: 2em;
  padding: .5em;
}

.nav-items {
  margin-left: auto;
  padding-right: 2em;
  display: flex;
  gap: 1em;
  font-family: var(--header-font);
}

.nav-items a, .nav-logo {
  text-decoration: none;
  color: black;
}

.nav-items a:hover {
  color: gray;
}

.share-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5em;
}